.myContainer-1 {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#gravity-ball {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 300px;
  margin-left: 250px;
  border-radius: 50px;
  background-color: red;
}

#ball-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 300px;
  margin-left: 250px;
  border-radius: 50px;
  background-color: red;
}
#ball-2 {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 200px;
  margin-left: 150px;
  border-radius: 50px;
  background-color: red;
}